:root {
  font-family: var(--font-inter), sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}