.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.homecontainer {
  position: relative;
  width: 100%;
  height: 696px;
  overflow: hidden;
}
.image {
  z-index: 1;
  object-fit: cover;
}
.contentcontainer {
  position: relative;
  z-index: 3;
  left: 64px;
  top: 260px;
  text-align: left;
  color: #f7f7f7;
}
.button {
  display: inline-block;
  font-family: var(--font-inter), sans-serif;
  width: 173px;
  height: 56px;
  opacity: 1;
  padding: 16px 48px;
  border-radius: 200px;
  background-color: #e44848;
}
.button:hover {
  background-color: #d84343;
}
.title {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 16px;
}
.text {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 40px;
}
